.language {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 4px;
  font-size: 4px;
  margin-top: 5px;
}

.lang-text {
  margin-right: 4px;
}

.c-lang {
  background: #555555;
}

.cpp-lang {
  background: #f34b7d;
}

.csharp-lang {
  background: #178600;
}

.java-lang {
  background: #b07219;
}

.shaderlab-lang {
  background: #cccccc;
}

.hlsl-lang {
  background: #cccccc;
}
/*# sourceMappingURL=lang.css.map */