@import url("https://fonts.googleapis.com/css?family=Heebo:800");
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
@import url("https://fonts.googleapis.com/css?family=Heebo:400");
* {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  font-family: 'Heebo', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.non-clickable {
  pointer-events: none;
  display: block;
}

#left-area {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30%;
  height: 100%;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#left-container {
  padding: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact-icons {
  fill: #ffffff;
}

#nom {
  display: inline;
  vertical-align: middle;
  line-height: 9vw;
  font-size: 9vw;
  color: #ffffff;
  mix-blend-mode: unset;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 1024px) {
  #left-area {
    position: fixed;
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
    height: 70%;
    width: 94%;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 8px;
  }
  #hero-description {
    padding-left: 4px;
  }
}

@media (max-width: 768px) {
  #left-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=left-area.css.map */