@import "variables";
body{
    background:$paper-background;
    margin:0;
}
#pangea{
    display:flex;
    margin:10vh;
    background: $theme-color;
    height:80vh;
    overflow-y: hidden;
    overflow-x: scroll;
    border-radius: 16px;
    box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.16);
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
#right-container{
    width:70%;
    display:inline-flex;
    flex-direction: row;
    overflow-y:scroll;
    overflow-x:hidden;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
#right-area{
    display: inline-block;
    width:30vw;
    overflow: scroll;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
#right-area2{
    display: inline-block;
    width:30vw;
    overflow: scroll;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
h2{
    display: inline;
    color:$text-dark-color;
    -webkit-margin-before:0;
    font-weight: 700; 
    font-size:$desktop-font-size-large;
}
h4{
    font-weight: 400;
    font-size:$desktop-font-size-medium;
    color:$text-color;
    flex-grow: 1;
    -webkit-margin-after:0px;
    -webkit-margin-before:4px;
    width:80%;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
hr{
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    border-width:5px;
    background: $text-color;
    border-style: solid;
    border-color: $text-color;
    width: 20%;
}
.card-title{
    display: inline-block;
    -webkit-margin-after:0px;
}
.item-card{
    padding:24px;
    margin-left:5%;
    margin-right:5%;
    border-radius: 16px;
    background: white;
    // width:70%;
    box-shadow: 0 3px 7px rgba(24,24,96,0.08), 0 4px 10px rgba(24,24,96,0.11);
    margin-bottom:32px;
    margin-top:32px;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
a{
    color: $text-dark-color;
    text-decoration: none;
    font-weight:300;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover{
    text-decoration: none;
    color: $primary-color;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:active{
    text-decoration: none;
    color: #e2E2e2;
}
a.project_list:visited{
    text-decoration: none;
    color: $text-dark-color;
}
a:visited{
    text-decoration: none;
    color: #FFF;
}
.badge-icon{
    width: $icon-size;
    height: $icon-size;
    border:solid;
    border-width: 0px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 16px; 
    border-radius: 20px;
    border-image-slice: 1;
    //box-shadow: 0px 2px 4px rgba(31, 34, 36, 0.06), 0 2px 4px rgba(2, 36, 56, 0.12);
}
.icon-path{
    fill:white;
}
.project-icon{
    background:#ffC107
}
.project-text{
    vertical-align:middle;
    width: 75%;
    display: inline-flex;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $desktop-font-size-small;
}
.project-name{
    font-weight: 800;
    display: block;
}
.project-description{
    display: block;
    font-weight: 400;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.project-lang{
    display:inline-flex;
    height:14px;
    flex-direction: row;
    vertical-align: middle;
}
///////////////////
//paper area
///////////////////
.paper-list{
    display:flex;
    flex-direction: row;
}
.paper-icon{
    background:rgba($color: #E91E63, $alpha: 0.7);
}
.paper-text{
    color: $text-dark-color;
    vertical-align:middle;
    display: inline-flex;
    font-size:$desktop-font-size-small;
    flex-direction: column;
    flex-grow: 1;
    width: 70%;
}
.paper-name{
    font-weight: 700;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.paper-author{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.paper-journal{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.paper-quote-detail-container{
    margin-top: 3px;
    display:inline-flex;
    flex-direction: row;
    width:32px;
    align-items: center;
}
.paper-quote-detail{
    padding:2px;
    margin-right:6px;
    font-size:$desktop-font-size-small;
    color:#6fa6ff;
}
.paper-quote-detail:hover{
    background:#eee;
}
.paper-hide{
    position:absolute;
    left:-9999px;
}
/////////////////////////////
//techies area
/////////////////////////////
.techies-icon{
    background:rgba($color: #8bc34a, $alpha: 0.7);
}
.techies-text{
    vertical-align:middle;
    justify-content: center;
    display: inline-flex;
    width: 75%;
    font-size:$desktop-font-size-small;
    flex-direction: column;
    color: $text-dark-color;
    overflow: hidden;
    text-overflow: ellipsis;
}
.techies-name{    
    font-weight: 700;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.techies_list-item{
    display:inline-flex;
    flex-direction: row;
    align-items:unset;
    text-align: start;
    width:100%;
}
.techies-tag{
    font-weight: 300;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
}
#techies-subcontent-content{
    color:$text-dark-color;
    h1, h2, h3, h4, h5, h6, p, blockquote {
        margin: 0;
        padding: 0;
     }
     body {
        font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
        // font-size: 13px;
        line-height: 18px;
        color: #737373;
        background-color: white;
        margin: 10px 13px 10px 13px;
     }
     table {
        margin: 10px 0 15px 0;
        border-collapse: collapse;
        font-size:$desktop-font-size-small;
     }
     td,th {	
        border: 1px solid #ddd;
        padding: 3px 10px;
     }
     th {
        padding: 5px 10px;	
     }
     
     a {
        color: #0069d6;
     }
     a:hover {
        color: #0050a3;
        text-decoration: none;
     }
     a img {
        border: none;
     }
     p {
        margin-bottom: 9px;
     }
     
     h1, h2, h3, h4, h5, h6 {
        line-height: 36px;
     }
     hr {
        margin: 0 0 19px;
        border: 0;
        border-bottom: 1px solid #ccc;
     }
     blockquote {
        padding: 13px 13px 21px 15px;
        margin-bottom: 18px;
        font-family:georgia,serif;
        font-style: italic;
     }
     blockquote:before {
        content:"\201C";
        font-size:40px;
        margin-left:-10px;
        font-family:georgia,serif;
        color:#eee;

     }
     blockquote p {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 0;
        font-style: italic;
     }
     code, pre {
        font-family: Monaco, Andale Mono, Courier New, monospace;
     }
     code {
        background-color: #fee9cc;
        color: rgba(0, 0, 0, 0.75);
        padding: 1px 3px;
        font-size: 12px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
     }
     pre {
        display: block;
        padding: 14px;
        margin: 0 0 18px;
        line-height: 16px;
        font-size: 11px;
        border: 1px solid #d9d9d9;
        white-space: pre-wrap;
        word-wrap: break-word;
     }
     pre code {
        background-color: #fff;
        color:#737373;
        font-size: 11px;
        padding: 0;
     }
     sup {
        font-size: 0.83em;
        vertical-align: super;
        line-height: 0;
     }
     * {
        -webkit-print-color-adjust: exact;
     }
     @media screen and (min-width: 914px) {
        body {
           width: 854px;
           margin:10px auto;
        }
     }
     @media print {
        body,code,pre code,h1,h2,h3,h4,h5,h6 {
           color: black;
        }
        table, pre {
           page-break-inside: avoid;
        }
     }
    //custome markdowncss area
    ////////////////////
    h1{
        color:rgba($color: #8bc34a, $alpha: 0.7);
        font-size:$desktop-font-size-large;
        word-wrap: break-word;
    }
    h2{
        font-size:$desktop-font-size-medium;
    }
    h3{
        font-size:$desktop-font-size-small;
    }
    p{
        font-size:$desktop-font-size-small;
        color:$text-dark-color;
    }
    li{
        list-style: none;
        margin-left:0px;
        padding-left:1.5em;
        text-indent:-1.5em;
        font-size:$desktop-font-size-small;
    }
    li:before{
        content:"🔖";
    }
    ul{
        -webkit-margin-before:0px;
    }
}


#techies-back-button{
    display: flex;
    line-height: 24px;
    height:24px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    color:#6fa6ff;
    font-size:$desktop-font-size-small;
    padding:0px;
}
/* acitivite areas */
.activity-icon{
    background-color: #6fa6ff
}
.activity-text{
   vertical-align:middle;
   color: $text-dark-color;
   display: inline-flex;
   width: 75%;
   font-size:$desktop-font-size-small;
   flex-direction: column;
}
.activity-name{
   font-weight: 700;
   display: block;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
.activity-duration{
   display: block;
   width: 100%;
}

ul{
    -webkit-padding-start:0;
    -webkit-margin-before:24px;
    -webkit-margin-after:24px;
}
#paper-header{
    justify-content: flex-start;
    // display:flex;
}
button{
    border-style: none;
    background-color: white;
}
#paper-category{
    padding:8px;
    height: auto;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 2px;
    color: #6fa6ff;
    text-decoration: none;
    border: none;
    font-size:$desktop-font-size-small;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
#paper-category:hover{
    background-color: #eee;
    transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
}
button:focus{
    outline: none;
}


@media(max-width:1024px){
    ul{
        -webkit-margin-after:24px;
        -webkit-margin-before:24px;
    }
    #nom{
        position: relative;
        left:-2%;
        font-size:800%;
        line-height:100px;
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    h4{
        font-size: $mobile-font-size-small;
        width: 100%;
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    #pangea{
        display:block;
        margin:0px;
        background: $theme-color;
        height:auto;
        overflow: hidden;
        border-radius: 0px;
        box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    #hero{
        width:50vw;
    }
    #hero-description{
        width:50%;
    }
    
    #right-container{
        // display:inline-flex;
        flex-direction: row;
        margin-top:85vh;
        width: 100%;
    }
    #right-area{
        display:block;
        position: relative;
        width: 100%;
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    #right-area2{
        display:block;
        position:relative;
        width:100%;
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    
    .item-card{
        margin-left:6%;
        margin-right:6%;
        // width: 76%;
        width:auto;
        transition: $transition-speed cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
    .project-text{
        font-size:$mobile-font-size-small;
    }
}
@media(max-width:768px){
    #right-container{
        flex-direction: column;
    }
    #right-area2{
        margin-top:-32px;
    }
    #hero-description{
        width:100%;
    }
}