@import "variables";
.rex-icon{
     background:rgba($color:#ff7043, $alpha: 0.7);
}

.rex-text{
    vertical-align:middle;
    color: $text-dark-color;
    display: inline-flex;
    width: 75%;
    font-size:$desktop-font-size-small;
    flex-direction: column;
}
.rex-place{
    font-weight: 700;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.rex-duration{
    display: block;
    width: 100%;
}