@import url("https://fonts.googleapis.com/css?family=Heebo:800");
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
@import url("https://fonts.googleapis.com/css?family=Heebo:400");
* {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  font-family: 'Heebo', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.non-clickable {
  pointer-events: none;
  display: block;
}

.skill-icon {
  background: rgba(171, 71, 188, 0.7);
}

.skill-text {
  vertical-align: middle;
  color: rgba(159, 159, 178, 0.84);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 75%;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill-name {
  font-weight: 700;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.skill-lang {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=skills.css.map */