@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Heebo:800");
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
@import url("https://fonts.googleapis.com/css?family=Heebo:400");
@import url("https://fonts.googleapis.com/css?family=Heebo:800");
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
@import url("https://fonts.googleapis.com/css?family=Heebo:400");
@import url("https://fonts.googleapis.com/css?family=Heebo:800");
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
@import url("https://fonts.googleapis.com/css?family=Heebo:400");
@import url("https://fonts.googleapis.com/css?family=Heebo:800");
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
@import url("https://fonts.googleapis.com/css?family=Heebo:400");
@import url("https://fonts.googleapis.com/css?family=Heebo:800");
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
@import url("https://fonts.googleapis.com/css?family=Heebo:400");
* {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  font-family: 'Heebo', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.non-clickable {
  pointer-events: none;
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  font-family: 'Heebo', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.non-clickable {
  pointer-events: none;
  display: block;
}

body {
  background: #ffffff;
  margin: 0;
}

#pangea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10vh;
  background: linear-gradient(120deg, #7cacf8 0%, #a1d8f1 100%);
  height: 80vh;
  overflow-y: hidden;
  overflow-x: scroll;
  border-radius: 16px;
  -webkit-box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.16);
          box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.16);
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#right-container {
  width: 70%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#right-area {
  display: inline-block;
  width: 30vw;
  overflow: scroll;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#right-area2 {
  display: inline-block;
  width: 30vw;
  overflow: scroll;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

h2 {
  display: inline;
  color: rgba(159, 159, 178, 0.84);
  -webkit-margin-before: 0;
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 4px;
  width: 80%;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

hr {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  border-width: 5px;
  background: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  width: 20%;
}

.card-title {
  display: inline-block;
  -webkit-margin-after: 0px;
}

.item-card {
  padding: 24px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 16px;
  background: white;
  -webkit-box-shadow: 0 3px 7px rgba(24, 24, 96, 0.08), 0 4px 10px rgba(24, 24, 96, 0.11);
          box-shadow: 0 3px 7px rgba(24, 24, 96, 0.08), 0 4px 10px rgba(24, 24, 96, 0.11);
  margin-bottom: 32px;
  margin-top: 32px;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
  color: rgba(159, 159, 178, 0.84);
  text-decoration: none;
  font-weight: 300;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  text-decoration: none;
  color: linear-gradient(120deg, #5d98f7 0%, #a3d6ee 100%);
  -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:active {
  text-decoration: none;
  color: #e2E2e2;
}

a.project_list:visited {
  text-decoration: none;
  color: rgba(159, 159, 178, 0.84);
}

a:visited {
  text-decoration: none;
  color: #FFF;
}

.badge-icon {
  width: 40px;
  height: 40px;
  border: solid;
  border-width: 0px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 16px;
  border-radius: 20px;
  border-image-slice: 1;
}

.icon-path {
  fill: white;
}

.project-icon {
  background: #ffC107;
}

.project-text {
  vertical-align: middle;
  width: 75%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.project-name {
  font-weight: 800;
  display: block;
}

.project-description {
  display: block;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-lang {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: middle;
}

.paper-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.paper-icon {
  background: rgba(233, 30, 99, 0.7);
}

.paper-text {
  color: rgba(159, 159, 178, 0.84);
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 70%;
}

.paper-name {
  font-weight: 700;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.paper-author {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.paper-journal {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.paper-quote-detail-container {
  margin-top: 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paper-quote-detail {
  padding: 2px;
  margin-right: 6px;
  font-size: 12px;
  color: #6fa6ff;
}

.paper-quote-detail:hover {
  background: #eee;
}

.paper-hide {
  position: absolute;
  left: -9999px;
}

.techies-icon {
  background: rgba(139, 195, 74, 0.7);
}

.techies-text {
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 75%;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(159, 159, 178, 0.84);
  overflow: hidden;
  text-overflow: ellipsis;
}

.techies-name {
  font-weight: 700;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.techies_list-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  text-align: start;
  width: 100%;
}

.techies-tag {
  font-weight: 300;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
}

#techies-subcontent-content {
  color: rgba(159, 159, 178, 0.84);
}

#techies-subcontent-content h1, #techies-subcontent-content h2, #techies-subcontent-content h3, #techies-subcontent-content h4, #techies-subcontent-content h5, #techies-subcontent-content h6, #techies-subcontent-content p, #techies-subcontent-content blockquote {
  margin: 0;
  padding: 0;
}

#techies-subcontent-content body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  line-height: 18px;
  color: #737373;
  background-color: white;
  margin: 10px 13px 10px 13px;
}

#techies-subcontent-content table {
  margin: 10px 0 15px 0;
  border-collapse: collapse;
  font-size: 12px;
}

#techies-subcontent-content td, #techies-subcontent-content th {
  border: 1px solid #ddd;
  padding: 3px 10px;
}

#techies-subcontent-content th {
  padding: 5px 10px;
}

#techies-subcontent-content a {
  color: #0069d6;
}

#techies-subcontent-content a:hover {
  color: #0050a3;
  text-decoration: none;
}

#techies-subcontent-content a img {
  border: none;
}

#techies-subcontent-content p {
  margin-bottom: 9px;
}

#techies-subcontent-content h1, #techies-subcontent-content h2, #techies-subcontent-content h3, #techies-subcontent-content h4, #techies-subcontent-content h5, #techies-subcontent-content h6 {
  line-height: 36px;
}

#techies-subcontent-content hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #ccc;
}

#techies-subcontent-content blockquote {
  padding: 13px 13px 21px 15px;
  margin-bottom: 18px;
  font-family: georgia,serif;
  font-style: italic;
}

#techies-subcontent-content blockquote:before {
  content: "\201C";
  font-size: 40px;
  margin-left: -10px;
  font-family: georgia,serif;
  color: #eee;
}

#techies-subcontent-content blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
  font-style: italic;
}

#techies-subcontent-content code, #techies-subcontent-content pre {
  font-family: Monaco, Andale Mono, Courier New, monospace;
}

#techies-subcontent-content code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
  font-size: 12px;
  border-radius: 3px;
}

#techies-subcontent-content pre {
  display: block;
  padding: 14px;
  margin: 0 0 18px;
  line-height: 16px;
  font-size: 11px;
  border: 1px solid #d9d9d9;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#techies-subcontent-content pre code {
  background-color: #fff;
  color: #737373;
  font-size: 11px;
  padding: 0;
}

#techies-subcontent-content sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}

#techies-subcontent-content * {
  -webkit-print-color-adjust: exact;
}

@media screen and (min-width: 914px) {
  #techies-subcontent-content body {
    width: 854px;
    margin: 10px auto;
  }
}

@media print {
  #techies-subcontent-content body, #techies-subcontent-content code, #techies-subcontent-content pre code, #techies-subcontent-content h1, #techies-subcontent-content h2, #techies-subcontent-content h3, #techies-subcontent-content h4, #techies-subcontent-content h5, #techies-subcontent-content h6 {
    color: black;
  }
  #techies-subcontent-content table, #techies-subcontent-content pre {
    page-break-inside: avoid;
  }
}

#techies-subcontent-content h1 {
  color: rgba(139, 195, 74, 0.7);
  font-size: 18px;
  word-wrap: break-word;
}

#techies-subcontent-content h2 {
  font-size: 12px;
}

#techies-subcontent-content h3 {
  font-size: 12px;
}

#techies-subcontent-content p {
  font-size: 12px;
  color: rgba(159, 159, 178, 0.84);
}

#techies-subcontent-content li {
  list-style: none;
  margin-left: 0px;
  padding-left: 1.5em;
  text-indent: -1.5em;
  font-size: 12px;
}

#techies-subcontent-content li:before {
  content: "🔖";
}

#techies-subcontent-content ul {
  -webkit-margin-before: 0px;
}

#techies-back-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #6fa6ff;
  font-size: 12px;
  padding: 0px;
}

/* acitivite areas */
.activity-icon {
  background-color: #6fa6ff;
}

.activity-text {
  vertical-align: middle;
  color: rgba(159, 159, 178, 0.84);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 75%;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.activity-name {
  font-weight: 700;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.activity-duration {
  display: block;
  width: 100%;
}

ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 24px;
  -webkit-margin-after: 24px;
}

#paper-header {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

button {
  border-style: none;
  background-color: white;
}

#paper-category {
  padding: 8px;
  height: auto;
  display: inline-block;
  vertical-align: text-top;
  border-radius: 2px;
  color: #6fa6ff;
  text-decoration: none;
  border: none;
  font-size: 12px;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#paper-category:hover {
  background-color: #eee;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:focus {
  outline: none;
}

@media (max-width: 1024px) {
  ul {
    -webkit-margin-after: 24px;
    -webkit-margin-before: 24px;
  }
  #nom {
    position: relative;
    left: -2%;
    font-size: 800%;
    line-height: 100px;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  h4 {
    font-size: 12px;
    width: 100%;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #pangea {
    display: block;
    margin: 0px;
    background: linear-gradient(120deg, #7cacf8 0%, #a1d8f1 100%);
    height: auto;
    overflow: hidden;
    border-radius: 0px;
    -webkit-box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
            box-shadow: 130px 130px 130px 130px rgba(31, 34, 36, 0.08), 0 30px 30px rgba(2, 36, 56, 0.11);
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #hero {
    width: 50vw;
  }
  #hero-description {
    width: 50%;
  }
  #right-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 85vh;
    width: 100%;
  }
  #right-area {
    display: block;
    position: relative;
    width: 100%;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #right-area2 {
    display: block;
    position: relative;
    width: 100%;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .item-card {
    margin-left: 6%;
    margin-right: 6%;
    width: auto;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .project-text {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  #right-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #right-area2 {
    margin-top: -32px;
  }
  #hero-description {
    width: 100%;
  }
}

.language {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 4px;
  font-size: 4px;
  margin-top: 5px;
}

.lang-text {
  margin-right: 4px;
}

.c-lang {
  background: #555555;
}

.cpp-lang {
  background: #f34b7d;
}

.csharp-lang {
  background: #178600;
}

.java-lang {
  background: #b07219;
}

.shaderlab-lang {
  background: #cccccc;
}

.hlsl-lang {
  background: #cccccc;
}

* {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  font-family: 'Heebo', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.non-clickable {
  pointer-events: none;
  display: block;
}

.skill-icon {
  background: rgba(171, 71, 188, 0.7);
}

.skill-text {
  vertical-align: middle;
  color: rgba(159, 159, 178, 0.84);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 75%;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill-name {
  font-weight: 700;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.skill-lang {
  display: block;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  font-family: 'Heebo', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.non-clickable {
  pointer-events: none;
  display: block;
}

.rex-icon {
  background: rgba(255, 112, 67, 0.7);
}

.rex-text {
  vertical-align: middle;
  color: rgba(159, 159, 178, 0.84);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 75%;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rex-place {
  font-weight: 700;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.rex-duration {
  display: block;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  font-family: 'Heebo', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.non-clickable {
  pointer-events: none;
  display: block;
}

#left-area {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30%;
  height: 100%;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#left-container {
  padding: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact-icons {
  fill: #ffffff;
}

#nom {
  display: inline;
  vertical-align: middle;
  line-height: 9vw;
  font-size: 9vw;
  color: #ffffff;
  mix-blend-mode: unset;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 1024px) {
  #left-area {
    position: fixed;
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
    height: 70%;
    width: 94%;
    -webkit-transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 8px;
  }
  #hero-description {
    padding-left: 4px;
  }
}

@media (max-width: 768px) {
  #left-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */