@import url('https://fonts.googleapis.com/css?family=Heebo:800');
@import url("https://fonts.googleapis.com/css?family=Heebo:300");
@import url("https://fonts.googleapis.com/css?family=Heebo:400");
$primary-color:linear-gradient(120deg, #5d98f7 0%, #a3d6ee 100%);
$paper-background:#ffffff;
// $theme-color: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
$theme-color: linear-gradient(120deg, #7cacf8 0%, #a1d8f1 100%);
//$theme-color: linear-gradient( 125deg, #c1f0d8 20%, rgb(168, 182, 216) 100%);
$text-color:#ffffff;
$text-dark-color:rgba(hsl(240, 11%, 66%),0.84);
$transition-speed:1.5s;
$icon-size:40px;

$desktop-font-size-large:18px;
$desktop-font-size-medium:12px;
$desktop-font-size-small:12px;

$mobile-font-size-large:16px;
$mobile-font-size-medium:14px;
$mobile-font-size-small:12px;

$project-color:#ffc107;


*{
    -webkit-font-smoothing:antialiased;
    -ms-overflow-style: none;
    font-family:'Heebo', sans-serif;
    // overflow: hidden;
}
::-webkit-scrollbar{
    display: none;
}
.non-clickable{
    pointer-events: none;
    display: block;
}